img {
  float: left;
  padding-left: 5%;
}

#fruits {
  display: inline-block;
}

#apples, #oranges, #bananas, #pears {
  display: inline-block;
}


#fruitPrice {
  display: inline-flex;
//  float:left;
}

#applePrice, #orangePrice, #bananaPrice, #pearPrice {
  text-align: center;
}

#buyApples, #buyOranges, #buyBananas, #buyPears {
  margin: auto 0;

}
