img {
  float: left;
  padding-left: 5%;
}

#fruits {
  display: inline-block;
}

#apples, #oranges, #bananas, #grapes {
  display: inline-block;
}


#fruitPrice {
  display: inline-flex;
//  float:left;
}
